

@import 'keyframes';

// For the sections
.fade-in {
    animation: fade-in 1.5s ease-in backwards;
  }

// For section titles
.title-anim {
    animation: title-slide-up 1.5s ease-in forwards;
  }
  
// Rotating flowers
  
:root {
    --flowers-rotation-speed: 10s;
    }
  
.story h2::after, .story__article::after, 
#studio h2::before, #studio h2::after,
.studio_nomination::before, .studio_nomination::after,
.site-footer ul::after {
    animation: spin-flowers var(--flowers-rotation-speed) linear infinite;
  }
  
.banner {
    animation: fade-in-slide-down 1.5s 1 ease-in-out backwards;
  }
  
#logo {
    animation: fade-in-slide-up 1.5s 1 ease-in backwards, floating 17s 2s ease-in infinite alternate;
  }
  
.animation-item, .place_title, .story__title, #place h3, .nomination h3, .site-footer h3 {
    animation: title-slide-up 1.5s ease-in backwards;
  }

  .story__text {
    transform: opacity 1.5s forwards;
    animation: fade-in 1.5s both alternate;
  }